html {
  --colour-primary: #698c96;
  --colour-primary-rgb: 105, 140, 150;
  --colour-secondary: #967369;
  --colour-secondary-rgb: 150, 115, 105;
  --colour-text: #494949;
  --colour-light-grey: #ababab;
  --colour-light-grey-rgb: 171, 171, 171;
  --colour-dark-grey: #696969;
  --colour-error: #ef3038;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: white;
}

h2 {
  color: var(--colour-secondary);
}

h3 {
  color: var(--colour-text);
}

p {
  color: var(--colour-text);
}

.textColour {
  color: var(--colour-text);
}

ol {
  list-style-type: none;
  display: inline;
  padding: 0px;
  margin: 0px;
}

ol li::before {
  content: counter(step-counter);
  background-color: var(--colour-secondary);
  color: white;
  border-radius: 50%;
  padding: 3px 10px;
  margin-right: 20px;
}

ol li {
  counter-increment: step-counter;
  color: var(--colour-text);
  border-radius: 10px;
  margin-top: 25px;
  padding: 10px 0 10px 0;
}

pre {
  margin: 0;
}

.headerLink {
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.headerLink:hover {
  filter: brightness(75%);
}

.headerLink:active {
  filter: brightness(70%);
}

.nakedLink {
  text-decoration: none;
}

.hundredWidth {
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--colour-dark-grey);
  border-radius: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
